/* font links  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

/* ##################-- Primary Style --################################  */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 15px;
  background-color: var(-lightgray);
}

/* ### Primary */
:root {
  -red: hsl(0, 78%, 62%);
  -cyan: hsl(180, 62%, 55%);
  -orang: hsl(34, 97%, 64%);
  -blue: hsl(212, 86%, 64%);

  /*  ### Neutral*/

  -darkblue: hsl(234, 12%, 34%);
  -grayblue: hsl(229, 6%, 66%);
  -lightgray: hsl(0, 0%, 98%);

  /* #######font  200, 400, 600 */
  -smallfont: 200px;
  -midumfont: 400px;
  -largfont: 600px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* ##################-- Main Style --################################  */

.container {
  margin: auto;
}

.headers {
  align-items: center;
  text-align: center;
  margin-top: 50px;
}
.upheader {
  font-size: 1.5rem;
}
.downheader {
  width: 549px;
  margin: auto;
  line-height: 30px;
  font-size: 0.9rem;
}

/* Vertical CARDS STYLE */

.VCards {
  background-color: bisque;
  height: auto;
  width: auto;
  display: flex;
  text-align: center;
  justify-content: center;
}
.cardOne-V,
.cardTwo-V {
  border: 1px solid black;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  width: 250px;
  height: 150px;
}

.cardOne-H,
.cardTwo-H {
  border: 1px solid black;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  width: 250px;
  height: 150px;
}

/* ******mobile SCREEN******** */
@media (min-width: 375px) {
  .container {
    width: 375px;
  }
}
